/* --------------------COMMONS------------------ */

/* class for the background-color green(#1abc9c) and color text white */
.green_white{
    background-color: #1abc9c;
    color:white;
}

/* class for the background-color dark-green(#2c3e50) and color text white */
.darkgreen_white{
    background-color: #2c3e50;
    color: white;;
}

.separator i{
    font-size: 22px;
}

/* ---------------------HEADER---------------------- */

.navbar-brand{
    font-weight: bold;
}

.navbar .navbar-nav a.nav-link{
    color: white;
}

header .jumbotron{
    margin-top: 70px ;
}

header .jumbotron img{
    width: 36%;
}

/* ---------------Section 1: PORTFOLIO---------------- */

#portfolio .img-container .overlay{
    width:96%;
    height:100%;
    background:rgba(26, 188, 156, 0.6);
    opacity:0;
    transition:opacity 500ms ease-in-out;
}

#portfolio .overlay i{
    font-size: 50px;
    color:#fff;
}

/* ----------------Section 3: CONTACT------------------ */

#contact input, #contact textarea{
    width: 100%;
}

/* -------------------FOOTER ---------------------------*/

.top-footer{
    background-color: #3a546d;
    color:white;
}

.top-footer .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.text-colored{
    color: #1abc9c;
}

/* ----------------------HOVER--------------------------- */

.navbar .navbar-nav a.nav-link:hover{
    color: #1abc9c;
}

#portfolio .img-container:hover .overlay{
    opacity:1;
}

#about .btn:hover{
    color: rgba(12, 94, 78, 0.8);
}

#contact .btn:hover{
    background-color: rgba(12, 94, 78, 0.8);
    color: white;
}

.top-footer .icon:hover{
    color: #1abc9c;
    border:2px solid #1abc9c ;
}

/*---------------------- RESPONSIVE-------------------- */

@media screen and (max-width:400px) {
    header .qualifications h5, header .qualifications i{
        font-size: 14px;
    }
}

@media screen and (min-width:401px) and (max-width:474px) {
    header .qualifications h5, header .qualifications i{
        font-size: 15px;
    }
}

@media screen and (min-width:768px) {
    header .jumbotron img{
        width: 30%;
    }
}

@media screen and (min-width:992px) {
    header .jumbotron img{
        width: 22%;
    }
}