.box{
    background-color: antiquewhite;
    height: 50px;
    border: 1px solid black;
}

header .jumbotron{
    background-color: blue;
}
header .jumbotron img{
    width: 20%;
}
/* Section 1: PORTFOLIO */


/* RESPONSIVE */

